---

---

<footer
  class="mt-12 border-t border-gray-700 bg-gray-900 text-white px-6 py-6 text-sm flex flex-col gap-4"
>
  <p>
    Esta es una <strong>fanpage no oficial</strong> dedicada a El Cuarteto de Nos.
    No está afiliada ni autorizada por la banda ni sus representantes.
  </p>
  <p>
    <a
      href="https://github.com/JoseDHernandez/Fanpage-del-Cuarteto-de-Nos"
      class="hover:underline text-blue-400"
      target="_blank"
    >
      Fanpage del Cuarteto de Nos
    </a> © 2025 por
    <a
      href="https://github.com/JoseDHernandez"
      class="hover:underline text-blue-400"
      target="_blank"
    >
      José Hernández
    </a> está licenciada bajo
    <a
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
      class="hover:underline text-blue-400"
      target="_blank"
      rel="noopener noreferrer"
    >
      CC BY-NC-SA 4.0
    </a>.
  </p>
</footer>
