---
import { Image } from "astro:assets";
import Logo from "../../public/logo.webp";
---

<header>
  <nav
    class="flex items-center justify-between bg-gray-900 text-white px-6 py-4 shadow-md"
  >
    <div class="flex items-center space-x-2">
      <Image
        src={Logo}
        alt="El Cuarteto de Nos logo"
        width="40"
        height="40"
        class="rounded-full invert"
      />
      <span class="text-lg font-bold hidden sm:inline-block"
        >El Cuarteto de Nos</span
      >
    </div>

    <ul class="flex space-x-6 text-sm md:text-base font-medium">
      <li>
        <a href="/" class="hover:text-yellow-400 transition-colors duration-200"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="/#Discografia"
          class="hover:text-yellow-400 transition-colors duration-200"
          >Discograf&iacute;a</a
        >
      </li>
      <li>
        <a
          href="/integrantes"
          class="hover:text-yellow-400 transition-colors duration-200"
          >Integrantes</a
        >
      </li>
    </ul>
  </nav>
</header>
